@{
    ViewData["Title"] = "Upload Questionnaire";
    Layout = "~/Views/Shared/_LayoutIn.cshtml";
}

<p>Drag multiple files to the box below for multi upload or click to select files.</p>
<form action="form_upload.html" class="dropzone" id="my-great-dropzone"></form>

<div style="margin-top:15px;">
    <a asp-action="Index">Back to List</a>
</div>