<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>@ViewData["Title"] - QCapp</title>

    <!-- Bootstrap -->
    <link href="~/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link href="~/gentelella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- NProgress -->
    <link href="~/gentelella/vendors/nprogress/nprogress.css" rel="stylesheet">
    
    <!-- iCheck -->
    <link href="~/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    
    <!-- JQVMap -->
    <link href="~/gentelella/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    
    <!-- bootstrap-daterangepicker -->
    <link href="~/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Switchery -->
    <link href="~/gentelella/vendors/switchery/dist/switchery.min.css" rel="stylesheet">

    <!-- Dropzone.js -->
    <link href="~/gentelella/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/gentelella/build/css/custom.min.css" rel="stylesheet">

</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>QC app</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/gentelella/production/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>Vijay Nv</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            @* <h3>General</h3> *@
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> 1. Admin <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Company/Create">1. Add Company</a></li>
                                        <li><a href="/User/Create">2. User Management</a></li>
                                        <li><a href="/Client/Create">3. Client Creation</a></li>
                                        <li><a href="/Document/Create">4. Document Classification</a></li>
                                        <li><a href="/Field/Create">5. Data Extraction List</a></li>
                                        <li><a href="/Questionnaire/Upload">6. Questionnaire Creation</a></li>
                                        <li><a href="/Workflow/Create">7. Workflow Setup</a></li>
                                        <li><a href="/Billing/Summary">8. Billing</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i> 2. Loans <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="index.html">1. Upload Loans</a></li>
                                        <li><a href="index2.html">2. Loan Import Log</a></li>
                                        <li><a href="index3.html">3. Loans</a></li>
                                        <li><a href="index3.html">4. Add Loan</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-sitemap"></i> 3. Audits <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="form.html">1. Audits</a></li>
                                        <li><a href="form_advanced.html">2. Add Audit</a></li>
                                        <li><a href="form_validation.html">3. Loans Selection</a></li>
                                        <li>
                                            <a>5. Assignment <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu">
                                                    <a href="level2.html">1. Manual Assignment</a>
                                                </li>
                                                <li>
                                                    <a href="#level2_1">2. Auto Assignment</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-desktop"></i> 4. Loan Review <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="general_elements.html">1. Loans for Audit</a></li>
                                        <li><a href="media_gallery.html">2. Loan Questionnaire</a></li>
                                        <li><a href="typography.html">3. Exceptions and Documents</a></li>
                                        <li><a href="icons.html">4. Loan Review Summary</a></li>
                                        <li><a href="glyphicons.html">5. Loans for Approval (0)</a></li>
                                        <li><a href="widgets.html">6. Returned Loans (0)</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> 5. Communication <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="tables.html">1. Exceptions</a></li>
                                        <li><a href="tables_dynamic.html">2. Modify Exceptions</a></li>
                                        <li><a href="tables_dynamic.html">3. Borrower Documents</a></li>
                                        <li><a href="tables_dynamic.html">4. Credit Report Batch</a></li>
                                        <li><a href="tables_dynamic.html">5. Action Plans</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> 6. Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="chartjs.html">1. Business Objects</a></li>
                                        <li><a href="chartjs2.html">2. In-App Reporting</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-clone"></i>7. ACES support <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="fixed_sidebar.html">1. Contact ACES</a></li>
                                        <li><a href="fixed_footer.html">2. ACES Knowledge Center</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/gentelella/production/images/img.jpg" alt="">Vijay Nv
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Profile</a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">Help</a>
                                    <a class="dropdown-item" href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/gentelella/production/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/gentelella/production/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/gentelella/production/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/gentelella/production/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="text-center">
                                            <a class="dropdown-item">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <span class="section">@ViewBag.Title</span>
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                &copy; 2023 - QCapp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>

    <!-- jQuery -->
    <script src="~/gentelella/vendors/jquery/dist/jquery.min.js"></script>
    
    <!-- Bootstrap -->
    <script src="~/gentelella/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- FastClick -->
    <script src="~/gentelella/vendors/fastclick/lib/fastclick.js"></script>
    
    <!-- NProgress -->
    <script src="~/gentelella/vendors/nprogress/nprogress.js"></script>
    
    <!-- Chart.js -->
    <script src="~/gentelella/vendors/Chart.js/dist/Chart.min.js"></script>
    
    <!-- gauge.js -->
    <script src="~/gentelella/vendors/gauge.js/dist/gauge.min.js"></script>
    
    <!-- bootstrap-progressbar -->
    <script src="~/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    
    <!-- iCheck -->
    <script src="~/gentelella/vendors/iCheck/icheck.min.js"></script>
    
    <!-- Skycons -->
    <script src="~/gentelella/vendors/skycons/skycons.js"></script>
    
    <!-- Flot -->
    <script src="~/gentelella/vendors/Flot/jquery.flot.js"></script>
    <script src="~/gentelella/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/gentelella/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/gentelella/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/gentelella/vendors/Flot/jquery.flot.resize.js"></script>
    
    <!-- Flot plugins -->
    <script src="~/gentelella/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/gentelella/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/gentelella/vendors/flot.curvedlines/curvedLines.js"></script>
    
    <!-- DateJS -->
    <script src="~/gentelella/vendors/DateJS/build/date.js"></script>
    
    <!-- JQVMap -->
    <script src="~/gentelella/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/gentelella/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/gentelella/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    
    <!-- bootstrap-daterangepicker -->
    <script src="~/gentelella/vendors/moment/min/moment.min.js"></script>
    <script src="~/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Switchery -->
    <script src="~/gentelella/vendors/switchery/dist/switchery.min.js"></script>

    <script src="~/gentelella/vendors/validator/validator.js"></script>

    <!-- Dropzone.js -->
    <script src="~/gentelella/vendors/dropzone/dist/min/dropzone.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/gentelella/build/js/custom.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
