<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"] - QCapp</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="~/gentelella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/gentelella/vendors/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/gentelella/vendors/adminlte/css/adminlte.min.css">
</head>

<body class="hold-transition login-page">
    
    @RenderBody()

    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/gentelella/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/gentelella/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jquery-validation -->
    <script src="~/gentelella/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/gentelella/vendors/jquery-validation/additional-methods.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/gentelella/vendors/adminlte/js/adminlte.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>